target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.idea/
ing-sw-2019-13.iml

#qua vanno aggiunti tutti i file che usiamo per il gioco ma che non vogliamo su git
#**.mp4 ad esempio ignora tutti i file con estensione mp4
.DS_Store